*{
  padding: 0%;
  margin: 0;
  font-family: Arial;
}
body{
  min-height: 90vh;
  background-color: rgb(203, 247, 205);
}

header{
  height: 100px;
  background-color: rgb(4, 161, 17);

}

header img{
  width: 100px;
  height: 100px;
  float: left;

  
}

header h4{
  float: left;
   width:10%;
   color: floralwhite;
   font-size: medium;
   margin-top: 50px;
}
header h2{
 
   color: floralwhite;
   margin-top: 0%;   
   text-align: left; 
   
}

.desabilitar{
  pointer-events:none;
  opacity:0.5;

}

.nparrafo-nav{
  margin-top: 10px;
  margin-left: 50px;
}

nav #indicador-preguntas{
  margin-left: 300px;
  top:-4px;
}

.mensajeError{
  color:red;
  border: 2px solid red;
  text-align: center;
}


aside{
  min-height: 80vh;
  background-color: rgb(203, 247, 205);
  float: left; 
  width:20%;

  
  }
  aside #formulario{
      margin-left: 50px;
  }
  
input[type="text"]{
box-sizing: border-box;
padding: 2px; 
margin: 10px;
margin-top: 4px;

}




aside label{
  margin: 10px;
  color: #139511;
  display: block;
  font-size: .9em;
  padding: 4px 0px 2px 0px;

}

aside button{
  padding: 6px 27px 7px 26px;
  text-decoration: none;
  font-size: .75em;
  font-weight: bold;
  color: #556;
  border-style: solid;
  border-width: 1px;
  border-color: #bfbfbf #139511 #139511 #bfbfbf;
  background-color: rgb(170, 247, 170);
  margin: 10px;
}

 button{
  padding: 6px 27px 7px 26px;
  text-decoration: none;
  font-size: .70em;
  font-weight: bold;
  color: #556;
  border-style: solid;
  border-width: 1px;
  border-color: #bfbfbf #139511 #139511 #bfbfbf;
  background-color: rgb(170, 247, 170);
  margin: 20px;

}
  

  section #container{
      min-height: 80vh;
      background-color: rgb(3, 17, 29);
      float: left;
      width:70%;
  }


  #container p{
      color: #000000;
      margin-left: 20px;
  }
  #container h6{
      color: #08f34e;
      margin-left: 20px;
  }

  #container {
      margin-top: 50px;
      margin-left: 100px;
    
  }
  
  a, a:link, a:active, a:visited {
      text-decoration: none;
      color: #3683ba;
      margin: 55px;
     
  }
   #panel{
      margin-left: 900px;
      position: relative;
      top: -400px;
    
 }
 .pg{
   display: none;
 }
 .mostrar{
   display: block;
 }

 #preguntaglobal{
   margin-left: 340px;
   height: 400px;
 }

 .botones{
  display: flex;
  margin-left: 340px;
  margin-top: -360px;
  width: 100px;
 
 }
 
 .botones #btn-ante{
    margin-right: 100px;
    background-color: red;
    color: #fff;
 }
 .botones #btn-sig{
  margin-right: 100px;
  background-color: rgb(17, 0, 255);
  color: #fff;
}
.parrafo{
  width: 400px;
}
  footer{
  
      height: 40px;
      background-color: rgb(203, 247, 205);
      text-align: center;
      color: forestgreen;
      margin-top: 290px;

  }


  @media screen and ( max-width:1100px){
 
    header{
      height: 150px;
    
    }
    
   
}


